h1 {
  margin-top: 0;
}

/*margin counts for all sides top, right, left, bottom*/
/*text-align is used to center all text in the parent container as long as its inline block element or block element such as img, h1-h6, ol, p, etc.*/
/*when auto is applied to an element for positioning then it will automatically set it to center from the margin. example,     margin: 0 auto 0 auto; this will center it horizantally */
body {
  margin: 0;
  text-align: center;
  /*we use quotations so that it first checks to see if the user has the font family if not then it goes to the next one to see if the user has it. in this case it would be merriweather then serif */
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  /* in terms of font size 16px = 100% = 1em  also em makes font dynamic*/
  /*so to get it to be 90px dynamic in em terms it would be 5.625em = 90px/16px*/
  /*em can be inheritted in terms of fontsize from the parent but px doesn't get inheritted*/
  /*now rem ignores the parent so it only focuses on the root so its best to use rem for dynamic text size*/
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2.5rem; /* 40px to rem?  40px/16px=2.5rem */
  color: #66bfbf;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none; /*removes the underline of the hyperlink*/
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #c2fff9;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  position: relative;
  margin: 100px 0;
}

.bottom-container {
  margin-top: 100px;
  padding: 50px 0 20px;
  background-color: #66bfbf;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.top-sun {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 200px;
  left: 1000px;
}

.bear-url {
  border-radius: 20px;
  width: 50%;
}

.mountain {
  position: relative;
  top: 4px;
}

.footer-image-link {
  width: 20px;
  height: 20px;
}

.code-logo {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.computer-url {
  height: 300px;
  width: 400px;
}

.gardener {
  position: relative;
  left: 150px;
  height: 400px;
  width: 400px;
}
.sleepy-plant-watered {
  position: relative;
  right: 260px;
  height: 100px;
  width: 100px;
}

.sleepy-plant-1 {
  position: relative;
  top: 100px;
  left: 200px;
}

.sleepy-plant-2 {
  position: relative;
  top: 100px;
  right: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr {
  border: dotted #b7b9b9 8px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
